@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('normalize.css');

:root {
    --dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background: linear-gradient(to top, var(--soft-blue), var(--soft-violet));
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.card {
    max-width: 327px;
    margin: 4.625rem auto;
    position: relative;
    background-color: var(--white);
    box-shadow: 0 2rem 2rem 0 hsl(214deg 17% 51% / 10%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
