@import 'https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap';
@import '_normalize';

$soft-red: hsl(14, 88%, 65%); // question hover
$dark-blue: hsl(238, 29%, 16%); // question text

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

$dark-grayish-blue: hsl(240, 6%, 50%); // answer text
$light-grayish-blue: hsl(240, 5%, 91%); // divider

$white: hsl(0, 0%, 100%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background: linear-gradient(to top, $soft-blue, $soft-violet);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 375px;
}

h1 {
    margin: 0 0 0.625rem;
    text-align: center;
    color: $dark-blue;
}

.container {
    max-width: 327px;
    min-height: 33.375rem;
    margin: 9.25rem auto 5.3125rem;
    padding: 7.875rem 1.5rem 0;
    position: relative;
    background-color: $white;
    border-radius: 1.5rem;
    box-shadow: 0 2rem 3rem -1rem rgb(0 0 0 / 40%);
}

.bg-main {
    width: 238px;
    height: 229px;
    background: url('../images/illustration-woman-online-mobile.svg') no-repeat center top;
    background-size: 238px 229px;
    position: absolute;
    top: -132px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.bg-shadow {
    width: 240px;
    height: 104px;
    background: url('../images/bg-pattern-mobile.svg') no-repeat center top;
    background-size: 240px 104px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.accordion-item {
    border-bottom: 1px solid $light-grayish-blue;
}

.accordion-header {
    font-size: 0.8125rem;
    line-height: 1.5;
    margin: 0;
}

.accordion-button {
    color: $dark-blue;
    line-height: 1.5;
    width: 100%;
    border: 0;
    padding: 1rem 1.5rem 1rem 0;
    background: none;
    text-align: left;
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        width: 0.625rem;
        height: 0.625rem;
        background: url('../images/icon-arrow-down.svg') no-repeat center;
        position: absolute;
        top: 1.25rem;
        right: 0;
        transition: transform 0.15s;
    }
}

.active .accordion-button {
    font-weight: 700;

    &::after {
        transform: rotate(180deg);
    }
}

.accordion-collapse {
    font-size: 0.75rem;
    line-height: 1.5;
    width: 100%;
    color: $dark-grayish-blue;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition-property: max-height, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.125s;

    > div {
        padding: 0 1.875rem 1rem 0;
    }

    p {
        margin: 0;
    }
}

.active .accordion-collapse {
    opacity: 1;
    max-height: 70px;
}

footer,
main {
    flex: 1;
}

footer {
    padding-bottom: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: white;
}

.attribution a:hover,
.attribution a:focus {
    color: $soft-red;
}

.fade-1 {
    animation: .5s .25s fade backwards ease-out;
}

.fade-2 {
    animation: .5s .5s fade backwards ease-out;
}

.fade-3 {
    animation: .5s 1.25s fade backwards ease-out;
}

@keyframes fade {
    from {
        transform: translate3d(-50%, -1rem, 0);
        opacity: 0;
    }
}

@media (min-width: 1024px) {
    .wrapper,
    .container {
        min-width: 920px;
        margin: 0 auto;
    }

    .wrapper {
        position: relative;
    }

    .container {
        min-height: 510px;
        padding: 60px 95px 0;
        display: flex;
        overflow: hidden;
    }

    .container-body {
        flex: 1 0 350px;
        max-width: 350px;
        margin-left: auto;
    }

    h1 {
        text-align: left;
        margin-bottom: 1rem;
    }

    .accordion-button {
        font-size: 0.875rem;
        padding: 0.875rem 1.5rem 0.875rem 0;

        &::after {
            right: 0.875rem;
        }

        &:hover {
            color: $soft-red;
        }
    }

    .active .accordion-button:hover {
        color: $dark-blue;
    }

    .bg-main {
        width: 50%;
        height: 100%;
        background-image: url("../images/illustration-woman-online-desktop.svg");
        background-size: 472px;
        background-position: -84px 70px;
        top: 0;
        left: 0;
        z-index: 2;
        transform: none;
    }

    .bg-shadow {
        width: 50%;
        height: 100%;
        background-image: url("../images/bg-pattern-desktop.svg");
        background-size: 960px;
        background-position: -570px -290px;
        top: 0;
        left: 0;
        z-index: 1;
        transform: none;
    }

    .bg-box-shadow {
        position: absolute;
        top: 205px;
        left: -130px;
        z-index: 10;

        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 30px;
            left: 80px;
            box-shadow: 0 2.5rem 3rem 1.5rem rgb(0 0 0 / 40%);
        }
    }

    .bg-box {
        width: 191px;
        height: 184px;
        background-image: url("../images/illustration-box-desktop.svg");
        background-size: 191px 184px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        transform: none;
    }

    .attribution {
        width: 100%;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    @keyframes fade {
        from {
            transform: translate3d(0, -2rem, 0);
            opacity: 0;
        }
    }
}
